body {
    background-color: darkblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: rgb(68, 252, 84);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}